<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title id="pageTitle">Update student</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
</head>

<body>
	<div th:replace="fragments/fragment :: header"></div>
	<div class="container">
		<form action="/student/update/submit" th:object="${student}"  method="post">
			<div>
				<label for="npm">NPM</label> <input type="text" id="npm" name="npm" readonly="true" th:value="${student.npm}"  th:field="*{npm}"/>
			</div>
			<div>
				<label for="name">Name</label> <input type="text" id="name" name="name" th:value="${student.name}" th:field="*{name}"/>
			</div>
			<div>
				<label for="gpa">GPA</label> <input type="text" id="gpa" name="gpa" th:value="${student.gpa}" th:field="*{gpa}"/>
			</div>

			<div>
				<button type="submit" name="action" value="update">Update</button>
			</div>
		</form>
	</div>
	<div th:replace="fragments/fragment :: footer"></div>
</body>
</html>

