<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title id="pageTitle">View All Courses</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
</head>
<body>
<div th:replace="fragments/fragment :: header"></div>
<div class="container">
    <h1>All Courses</h1>

    <div th:each="course,iterationStatus: ${courses}">
        <h3 th:text="'No. ' + ${iterationStatus.count}">No. 1</h3>
        <h3 th:text="'ID Course = ' + ${course.idCourse}">Course ID</h3>
        <h3 th:text="'Name = ' + ${course.name}">Course Name</h3>
        <h3 th:text="'Credits = ' + ${course.credits}">Course Credits</h3>
        <h3>Mahasiswa yang mengambil</h3>
        <ul th:each="student,iterationStatus: ${course.students}">
            <li th:text="${student.name} + '-' + ${student.npm}" >
                Nama Mahasiswa-NPM Mahasiswa
            </li>
        </ul>
        <!--<a th:href="'/course/delete/' + ${course.idCourse}"> Delete Data</a><br/>-->
        <!--<a th:href="'/course/update/' + ${course.idCourse}"> Update Data</a><br/>-->
        <hr/>
    </div>
</div>
<div th:replace="fragments/fragment :: footer"></div>
</body>
</html>
